/* ---------------- Google fonts ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ------------------ Custom fonts goes here --------------- */
@font-face {
  font-family: "PPGatwick";
  src: url("../fonts/PPGatwick-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PPGatwick";
  src: url("../fonts/PPGatwick-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* ---------------- Basic css ------------------ */
html {
  font-size: 62.5%;
}

:root {
  scroll-behavior: unset;
  --white: #ffffff;
  --dark: #141013;
  --dark2: #020117;
  --yellow: #ffa429;
  --boxShadow: 0 0 2.5rem 0.1rem rgba(0, 0, 0, 0.15);
  --poppins: "Poppins", sans-serif;
  --cabin: "Cabin", sans-serif;

  --img_white: brightness(0) saturate(100%) invert(98%) sepia(0%)
    saturate(7500%) hue-rotate(201deg) brightness(103%) contrast(106%);
}

img {
  width: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  color: inherit;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* body */
body {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.8;
  color: #04011f;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 13rem;
}

.figure img,
.figure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  font-family: "PPGatwick", sans-serif;
}

/* line_height_2 */
.line_height_2 {
  line-height: 2 !important;
}
/* line_height_1 */
.line_height_1 {
  line-height: 1 !important;
}

/* color dark */
.text_dark {
  color: var(--dark) !important;
}

/* color yello */
.text_yellow {
  color: var(--yellow) !important;
}

/* default_styles */
.xy_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.y_center {
  display: flex;
  align-items: center;
}

.x_center {
  display: flex;
  justify-content: center;
}

.position_center_xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position_center_x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.position_center_y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* cols_gap_24 */
.cols_gap_24 > * {
  padding: 0 1.2rem !important;
}

.col_gap_32 {
  gap: 3.2rem 0;
}

.col_gap_32 > * {
  padding: 0 1.6rem !important;
}

/* Font Weights */
.f_100 {
  font-weight: 100 !important;
}
.f_200 {
  font-weight: 200 !important;
}
.f_300 {
  font-weight: 300 !important;
}
.f_400 {
  font-weight: 400 !important;
}
.f_500 {
  font-weight: 500 !important;
}
.f_600 {
  font-weight: 600 !important;
}
.f_700 {
  font-weight: 700 !important;
}
.f_800 {
  font-weight: 800 !important;
}
.f_900 {
  font-weight: 900 !important;
}

/* Texts */
.text_42 {
  font-size: 4.2rem;
}
.text_63 {
  font-size: 6.3rem;
}
.text_38 {
  font-size: 3.8rem;
}
.text_15 {
  font-size: 1.5rem;
}
.text_16 {
  font-size: 1.6rem;
}
.text_17 {
  font-size: 1.7rem;
}
.text_18 {
  font-size: 1.8rem;
}
.text_19 {
  font-size: 1.9rem;
}
.text_20 {
  font-size: 2rem;
}
.text_21 {
  font-size: 2.1rem;
}
.text_22 {
  font-size: 2.2rem;
}
.text_23 {
  font-size: 2.3rem;
}
.text_24 {
  font-size: 2.4rem;
}
.text_25 {
  font-size: 2.5rem;
}
.text_26 {
  font-size: 2.6rem;
}
.text_27 {
  font-size: 2.7rem;
}
.text_28 {
  font-size: 2.8rem;
}
.text_29 {
  font-size: 2.9rem;
}
.text_30 {
  font-size: 3rem;
}

/* titles */
h1 {
  font-size: 5.8rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2.2rem;
}

/* Texts */
.text_xl {
  font-size: 2.4rem;
}
.text_lg {
  font-size: 2rem;
}
.text_md {
  font-size: 1.6rem;
}
.text_sm {
  font-size: 1.4rem;
}
.text_xsm {
  font-size: 1.2rem;
}

/* title_lg_blue */
.title_lg_blue {
  color: #5491f5;
}

/* Buttons */
.button {
  height: 5rem;
  display: flex;
  align-items: center;
  background: #cdcbff;
  font-size: 1.4rem;
  color: #141013;
  padding: 0 3.4rem;
  border-radius: 10rem;
  width: fit-content;
  gap: 0.8rem;
  white-space: nowrap;
  font-weight: 500;
  justify-content: center;
}

.button img {
  width: 1.5rem;
}

.button:hover {
  background: #00034e;
  color: #fff;
}

.button:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%)
    hue-rotate(270deg) brightness(102%) contrast(99%);
}

.button_dark {
  background: #03011f;
  color: #fff;
}

.button_dark img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%)
    hue-rotate(270deg) brightness(102%) contrast(99%);
}

.button_transparent {
  border: 0.15rem solid #03011f;
}

/* -------------- preloader --------------- */
#preloader {
  position: fixed;
  background: #100b01;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999999999999;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader3 {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  padding: 0;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: #fff;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* --------- Owl Setup Styles ---------- */
.owl-stage {
  width: 100%;
  display: flex;
  cursor: grab;
}

.owl-stage-outer {
  width: 100%;
}

/* --------- Owl dots ---------- */
.owl-dots {
  justify-content: center;
  margin-top: 2.5rem;
}

.owl-dots button span {
  width: 1.1rem;
  height: 1.1rem;
  background: #c3b3c7;
  display: block;
  border-radius: 10rem;
  transition: 0.25s;
}

.owl-dots button {
  padding: 0 0.5rem;
}

.owl-dots button.active span {
  background: #413246;
  width: 2.7rem;
}

/* ======================== Header_section ===================== */
.site_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

/* header top */
.header_top {
  height: 5rem;
  display: flex;
  background: #dddddd;
}

.header_top_left {
  gap: 2rem;
}

.text_yellow:hover {
  color: var(--dark);
  opacity: 0.7;
}

.text_yellow img,
.star {
  filter: brightness(0) saturate(100%) invert(85%) sepia(27%) saturate(6182%)
    hue-rotate(337deg) brightness(102%) contrast(101%);
}

.header_social_icons img {
  width: 1.4rem;
}
.menu_link {
  color: #020117;
  line-height: 0.8;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}
.peimary_menu {
  gap: 2.9rem;
}

.menu_link img {
  width: 1.5rem;
}
.menu_link .star {
  width: 1.2rem;
}
.menu_link span {
  transform: translateY(0.25rem);
}

/* header_main */
.header_main {
  height: 8rem;
  display: flex;
}

.menu_link_two.active {
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #cdcbff;
  font-size: 1.4rem;
  color: #00034e;
  padding: 0 3.4rem;
  border-radius: 10rem;
}

.header_links {
  gap: 3rem;
}

.menu_link_two {
  color: var(--dark2);
}

.menu_link_two img {
  width: 2rem;
  filter: brightness(0) saturate(100%) invert(10%) sepia(5%) saturate(4644%)
    hue-rotate(195deg) brightness(97%) contrast(126%);
}

/* =================== Hero Section ================= */
.hero_section {
  padding: 3.8rem 0 7rem 0;
  background: #e8e4de;
}

.image_content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 2rem;
}

.image_content {
  padding: 16rem 0 17rem 0;
  border-radius: 2.3rem;
  overflow: hidden;
}

.image_content h2,
.image_content a {
  position: relative;
}

/* ===================== Gratis Section =================== */
.gratis_section {
  background: #efefef;
  padding: 9.6rem 0 0;
}
.play_icon {
  width: 8.4rem;
}
.text_list li {
  line-height: 1;
  padding-bottom: 1.6rem;
  color: #141013;
}
.text_points li {
  height: 5.7rem;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 2.4rem;
  border-bottom: 0.1rem solid rgb(0, 0, 0, 0.3);
}
li img {
  width: 2rem;
  filter: brightness(0) saturate(100%) invert(3%) sepia(2%) saturate(7242%)
    hue-rotate(262deg) brightness(96%) contrast(92%);
}
.text_points li:nth-child(1) {
  border-top: 0.1rem solid rgb(0, 0, 0, 0.3);
}

ul li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
.text_points li a {
  text-decoration: underline;
}
.text_points li a:hover {
  text-decoration: none;
}

/* ============= four_items_slider =============== */
.four_items_slider {
  position: relative;
  margin-bottom: -20.5rem;
}

.owl-nav {
  width: calc(100% + 5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  height: 0;
}

.owl-nav button img {
  width: 2rem;
}

.owl-nav button {
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 10rem;
  padding: 0;
  transition: 0.25s;
}

.owl-dots {
  display: none;
}

.owl-nav button:hover,
.owl-nav button.disabled {
  background: #c1c1c1;
}

.owl-nav button:hover img,
.owl-nav button.disabled img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(7500%)
    hue-rotate(201deg) brightness(103%) contrast(106%);
}

/* ============= Treatment Section =============== */
.treatment_section {
  background: #f8f4f0;
  border-top: 29.6rem solid #fff;
  padding: 11.5rem 0 17rem;
}

.Gratis_block {
  padding: 0 8.5rem;
}

/* =============== Reviews Section =============== */
.reviews_section {
  padding: 11.7rem 0 9.8rem;
}

.review_container {
  padding: 6rem 4.2rem 7.5rem 4.2rem;
}

.review_wrap {
  position: relative;
  background: #f9e2ff;
  border-radius: 2.4rem;
}

.review_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.five_stars img {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(89%) sepia(22%) saturate(3092%)
    hue-rotate(344deg) brightness(110%) contrast(101%);
}

.five_stars {
  display: flex;
  gap: 0.2rem;
  padding: 0 6.4rem 0 7.5rem;
}

.review_right {
  background: #413246;
  color: #fff;
  height: 8rem;
  padding: 0 1.7rem 0 2.7rem;
  border-radius: 10rem;
}

.rating {
  width: 5rem;
  height: 5rem;
  background: #fff;
  display: flex;
  align-items: center;
  color: #413246;
  justify-content: center;
  border-radius: 10rem;
}

.review_top_left p {
  color: #423246;
  padding-bottom: 1rem;
}

.review_top_left h4 {
  color: #423246;
  line-height: 160%;
}

.play_button img {
  width: 2rem;
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(7500%)
    hue-rotate(201deg) brightness(103%) contrast(106%);
}

.play_button {
  width: 7.5rem;
  height: 7.5rem;
  background: #666162;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  transition: 0.25s;
}

.review_img:hover .play_button {
  background: #704f4f;
}

.review_img:hover > img {
  filter: brightness(0.8);
}

.review_img img {
  transition: 0.25s;
}

.review_img:hover .play_button img {
  transform: scale(1.1);
}

/* ================ appointment_section =============== */
.appointment_section {
  padding: 10.8rem 0;
  background: #f8f4f0;
}

.appointment_section .container {
  padding: 0 12.6rem;
}

.section_block {
  background: #cdcbff;
  padding: 3.7rem 5.6rem 4.1rem 5.1rem;
  border-radius: 2.4rem;
}

/* ================ Single Slider =============== */
.single_slider_area {
  padding: 12rem 0 13.5rem 0;
}

.arrows_bottom .owl-nav {
  height: auto;
  position: relative;
  width: fit-content;
  transform: none;
  left: 0;
  top: auto;
  margin-top: 4rem;
  gap: 1rem;
}

.arrows_bottom_for_sm .owl-nav {
  display: none;
}

/* ================ FAQ Section =============== */
.faq_section {
  background: #04011f;
  padding: 16rem 0 16.7rem;
}

.accordion {
  padding: 4rem 8.4rem 4.5rem 8.4rem;
  background: rgb(255, 255, 255, 0.11);
  border-radius: 2rem;
  border: 0.1rem solid rgb(255, 255, 255, 0.34);
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #cdcbff;
  padding-left: 3.5rem;
}

.accordion-item {
  background: transparent;
  border: none;
  border-radius: 0 !important;
}

.accordion-button {
  font-size: 1.4rem;
  font-weight: 700;
  background: transparent;
  color: #cdcbff;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  padding: 0;
  transition: 0.25s;
  border: none;
  border-bottom: 0.1rem solid rgb(205, 203, 255, 0.35);
}

.accordion-button:before {
  display: none;
}

.accordion-button::after {
  display: none;
}

.minus {
  display: none;
}

.accordion-button:not(.collapsed) .plus {
  display: none;
}

.accordion-button:not(.collapsed) .minus {
  display: block;
}

.accordion-item:focus,
.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button:focus {
  border: none;
  border-top: 0.1rem solid rgb(205, 203, 255, 0.35);
  border-bottom: 0.1rem solid rgb(205, 203, 255, 0.35);
}

.accordion-body p {
  color: #fff;
}

.plus_minus img {
  width: 1.5rem;
  filter: brightness(0) saturate(100%) invert(87%) sepia(13%) saturate(4074%)
    hue-rotate(189deg) brightness(106%) contrast(101%);
}

/* ================ Service Section =============== */
.service_section {
  padding: 11.5rem 0;
}
.service_box > * {
  color: #04011f !important;
}
.service_row {
  --bs-gutter-x: 10rem;
}
.service_row > * {
  padding: 0 5rem;
}

/* ================ Online Appoinment Section =============== */
.online_apointment_area {
  padding: 20rem 0;
  background: #03011f;
}

.online_apointment_area li img {
  filter: contrast(0) brightness(1.65);
}

.online_apointment_area h6 {
  color: #f5daf8;
}

.online_apointment_area h2 {
  color: #e4e4e4;
}

.online_apointment_area ul {
  color: #c8c6cd;
}

.online_apointment_box {
  background: #cdcbff;
  width: 33.2rem;
  padding: 5.3rem 3.4rem 5.8rem 3.4rem;
  border-radius: 2rem;
  margin-left: auto;
}

.online_apointment_box p {
  font-size: 1.4rem;
}

.apointment_btns .button {
  width: 100%;
}

.apointment_btns p:before,
.apointment_btns p:after {
  width: 7rem;
  height: 0.1rem;
  content: "";
  position: absolute;
  background: #acaad6;
  top: 50%;
  transform: translateY(-50%);
}

.apointment_btns p {
  position: relative;
  line-height: 1;
  width: fit-content;
  margin: 1rem auto;
}

.apointment_btns p:before {
  right: 3rem;
}

.apointment_btns p:after {
  left: 3rem;
}

.person_img {
  width: 7.8rem;
  right: 10.8rem;
  position: absolute;
  bottom: 4rem;
}

.circle_js {
  position: absolute;
  top: 50%;
  width: 73rem;
  right: -19rem;
  transform: translateY(-50%);
}

/* ======================= Footer Section ================= */
.site_footer {
  background: #f3ebe2;
}

.footer_logo img {
  width: 7.5rem;
}

.footer_box .menu_link img {
  width: 1.8rem;
}

.footer_title {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.footer_title img {
  width: 2.5rem;
}

.footer_links a {
  color: #7a757f;
}

.footer_links {
  display: grid;
  gap: 1rem;
}

.footer_links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.footer_social_links a {
  width: 4.5rem;
  height: 4.5rem;
  --color: #565262;
  border: 0.15rem solid var(--color);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10rem;
}

.footer_social_links img {
  width: 1.4rem;
}

.footer_social_links {
  gap: 1rem;
}

.footer_social_links a:hover {
  background: #565262;
}

.footer_social_links a:hover img {
  filter: var(--img_white);
}

.footer_stars_wrap img {
  width: 1.5rem;
}

.footer_stars_wrap span {
  line-height: 0.5;
  margin: 0 0.25rem;
}

.footer_stars_wrap {
  display: flex;
  font-size: 1.7rem;
  gap: 0.5rem;
  margin-top: 6.3rem;
}

.footer_stars_wrap a {
  gap: 0.25rem;
}

.copywrite {
  border-top: 0.1rem solid #c3c3c3;
}

.copywrite {
  color: #7a757f;
  font-size: 1.4rem;
}

.copywritw_links a:hover {
  text-decoration: underline;
  color: var(--dark);
}

.copywritw_links {
  gap: 3rem;
}

.footer_accordion_title img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(7%) saturate(1858%)
    hue-rotate(206deg) brightness(99%) contrast(88%);
  transition: 0.25s;
}

/* =================== Hero_section v2 ================= */
.hero_section.v2 {
  background: #f8f4f0;
}

.link_block_text .text_18 {
  color: #03011f;
}

.link_block_text .text_sm {
  color: #555;
}

.link_block {
  border-radius: 1.2rem;
  width: max-content;
}

.hero_section.v2 .image_content {
  padding: 12rem 4.2rem 4.2rem 4.2rem;
}

.link_block_left:before {
  content: "";
  background: #00000080;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.link_block_left {
  border-radius: 1.2rem;
  overflow: hidden;
}

.link_block:hover .link_block_left img {
  transform: scale(1.1);
}

.link_block_left .play_button {
  z-index: 9;
  width: auto;
  height: auto;
}

.link_block_left img {
  transition: 0.25s;
}

.arrow_white {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10rem;
}

.arrow_white img {
  width: 2rem;
  transition: 0.15s;
}

.arrow_white:hover img {
  transform: scale(1.1);
}

.hero2_right {
  display: block;
  padding: 1.8rem;
  background: rgb(0, 0, 0, 0.25);
  backdrop-filter: blur(1rem);
  border-radius: 1.2rem;
  border: 0.1rem solid rgb(255, 255, 255, 0.2);
}

/* ==================== Article Section =================== */
.popular_articles {
  background: #f8f4f0;
  padding: 4.5rem 0 14rem;
}

.article_text > .text_16 {
  color: #03011f;
}

.article_text > .text_xsm {
  color: #03011f;
  line-height: 1.4;
}

.article_price .text_21 {
  color: #000;
}

.article_price .text_sm {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-weight: 700;
}

.text_red {
  color: #008b5b;
}

.article_price .text_sm img {
  width: 2.4rem;
}

.article {
  gap: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  align-items: center;
}

.article_left img {
  width: 12rem;
}

/* =================== zone_section ================= */
.zone_section {
  padding: 12.6rem 0 6rem 0;
}

.leser_selections > p {
  color: #000;
  width: fit-content;
}

.leser_text2 {
  background: #f5f5f5;
  border: 0.1rem solid #e0e0e0;
  border-radius: 0.8rem;
}

.zone_accordion {
  padding: 0;
}

.zone_accordion .accordion-button span {
  color: #000;
  padding-right: 13.3rem;
}

.zone_accordion .accordion-button {
  padding: 0;
  height: 4.7rem;
  border: none;
}

.zone_accordion .accordion-item {
  border: 0.1rem solid #c0c9d5;
  border-radius: 0;
  padding: 0 2.5rem 0 2rem;
}

.zone_accordion * {
  transition: 0.25s;
}

.zone_accordion .accordion_arrow img {
  filter: brightness(0) saturate(100%) invert(6%) sepia(53%) saturate(5847%)
    hue-rotate(235deg) brightness(95%) contrast(116%);
}

.leser_option {
  background: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #c0c9d5;
  border-radius: 10rem;
  color: #898989;
  font-family: "PPGatwick", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 1rem 2.5rem;
}

.zone_accordion .accordion-body {
  border-top: 0.1rem solid #c0c9d5;
  padding-left: 0;
  padding-right: 0;
}

.leser_option.active,
.leser_option:hover {
  background: #01034f;
  color: #fff;
  border: 0.2rem solid #01034f;
}

.leser_options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.zone_top {
  gap: 16rem;
}

/* =========== zone boxes =========== */
.zone_box_head p {
  color: #03011f;
}

.popularity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #00034f;
  color: #fff !important;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.45rem 1rem;
  border-radius: 5rem;
}

.popularity img {
  filter: var(--img_white);
  width: 1.2rem;
}

.zone_texts {
  font-size: 1.1rem;
  color: #03011f;
  padding: 1rem 0 2.5rem 0;
}

.arrow_white_lg {
  width: 4.8rem;
  height: 4.8rem;
}

.zone_box_part2_left p:last-child {
  font-size: 1.1rem;
  line-height: 1.5;
}

.status_badge {
  background: #fff;
  padding: 0.5rem 1.25rem;
  border-radius: 10rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #03011f;
  width: fit-content;
  margin-bottom: 0.6rem;
}

.zone_box_part1 {
  background: #f4f4f4;
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 1rem;
  display: grid;
  align-content: space-between;
}

.zone_box {
  overflow: hidden;
  border-radius: 1rem;
  background: #cccbff;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 0fr;
}

.zone_box_part2 {
  padding: 1.2rem 1.9rem 1.6rem 2rem;
}

.zone_section .row > * {
  padding: 0 1rem;
}

/* ==================== reviews_section.v2 ===================== */
.reviews_section.v2 .five_stars {
  padding: 0 6.4rem 0 1.7rem;
}

/* ===================== Glow Section ===================== */
.glow_section {
  padding: 11rem 0 14rem;
  background: #f4f4f4;
}
.glow {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
}

.glow_fan img {
  width: 2.5rem;
}

.glow_fan {
  height: 5rem;
  width: 5rem;
  background: #efefef;
  top: 2.7rem;
  position: absolute;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}

.glow_texts {
  position: absolute;
  width: 100%;
}

/* .glow_slider .owl-item:not(.highlight) .glow_texts {
  transition: 0.25s ease;
  opacity: 0;
  bottom: -15rem;
}

.glow_slider .owl-item.active.highlight .glow_texts, .first_glow_item .glow_texts {
  bottom: 0;
  opacity: 1;
} */

.glow_left p {
  color: #e8e8ea;
  font-size: 2.2rem;
  line-height: 1.5;
}

.glow_left h2 {
  font-size: 3.8rem;
  color: #fff;
  line-height: 1;
  padding-bottom: 2rem;
}

.glow .arrow_white {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.glow_left {
  padding: 0 0 2.5rem 3.2rem;
  position: absolute;
  bottom: 0;
  transition: 0.25s;
}

.glow > img {
  width: 26.2rem;
  transition: 0.25s;
  height: 45.2rem;
  object-fit: cover;
  border-radius: 1.2rem;
}

.glow_slider .owl-item.active.highlight .glow > img,
.first_glow_item > img {
  width: 62.4rem;
}

.glow_slider .owl-item:not(.highlight) .glow_left h2 {
  font-size: 2.2rem;
  padding-bottom: 3.5rem;
}

.glow.first_glow_item .glow_left h2 {
  font-size: 2.2rem;
  padding-bottom: 3.5rem;
}

.glow_slider .owl-item:not(.highlight) .arrow_white {
  opacity: 0;
}

.glow.first_glow_item .arrow_white {
  opacity: 1 !important;
}

.glow_slider .owl-item:not(.highlight) .glow_left {
  transform: translateY(15rem);
}

.glow.first_glow_item .glow_left {
  transform: translateY(0) !important;
}

.glow .arrow_white img {
  transform: rotate(-45deg);
}

.glow::before {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
